* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--FontFamilyTekst);
  line-height: var(--LineHeight);
}

body {
  background-color: var(--BackgroundColor);
}

h1,
h2,
h3 {
  color: var(--FontRed);
}

/* Sådan bruges en variabel exempel: 
section {

background-color: var(--BackgroundColor2);
}

*/

:root {
  /* Fonte */
  --FontFamilyTekst: Arial, Helvetica, sans-serif;
  --FontSizeH1: 2.5rem;
  --FontSizeH2: 1.2rem;
  --FontSizeH3: 0.84rem;
  --FontSizeP: 0.7rem;

  /* Colors */

  --BackgroundColor: #ededed;
  --SectionColor: #233248;
  --HoverCat: hsla(216, 35%, 21%, 80%);

  /* bruger man backgroundcolor1 så skal man også bruge fontcolor1 */

  --FontColor1: #233248;
  --FontColor2: #ededed;
  --FontRed: #ea4f46;

  /* Other */
  --LineHeight: 25.6px;
  --BorderRadius: 0.3rem;
}
