img {
  max-width: 100%;
}

a {
  color: black;
}

/* Bestemmer og indeholder al indhold */
.container {
  position: relative;
  display: inline-block;
}

/* Knappen som viser diverse kategorier */
.kategoriknap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 2px solid black;
  background-color: white;
  border-radius: 7px;
  padding: 1rem 5rem;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

/* Bestemmer billede og kategoriknap */
.subcontainer {
  opacity: 1;
  transition: 0.5s ease;
  backface-visibility: hidden;
}

/* Bestemmer texten som vises ved hover */
.hovertext {
  transition: 0.5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: left;
  /* background-color: rgba(35, 50, 73, 0.9);
  color: white; */
}

/* Billede+knap forsvinder ved hover */
.container:hover .subcontainer {
  opacity: 0;
}

/* Text vises ved hover over billede+knap  */
.container:hover .hovertext {
  opacity: 1;
}

/* Responsivt grid-layout, ændres ved skærme bredere end 570px */
@media (min-width: 570px) {
  .information {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  #categoryList {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }

  body {
    margin: 8% 10%;
  }
}
