* {
  /* outline: dashed 1px red; */
}

/* Layout */

.menu {
  height: 3rem;
  background-color: rgb(202, 202, 202);
  outline: dashed 1px green;
}

ul li a {
  text-decoration: none;
}

.breadcrumbs {
  display: flex;
  flex-direction: row;
  list-style: none;
}

.breadcrumbs i {
  margin-right: 0.5rem;
  margin-left: 0.5rem;
}

img {
  width: 100%;
  aspect-ratio: 16/9;
}

/* Style */

#imgextra {
  display: flex;
  flex-direction: row;
}
.recprod {
  display: flex;
  flex-direction: row;
}

.grid_1_2 {
  display: grid;
  grid-template-columns: auto;
  grid-template-rows: 2fr 1fr;
}

.grid_1_2 img {
  grid-column: 1;
  grid-row: 1;
}
.grid p {
  grid-column: 1;
  grid-row: 2;
}
